body {
  background-color: #8cc0de;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Smooch Sans", sans-serif;
}

h1 {
  color: white;
  text-align: center;
  font-size: 5rem;
}
.list {
  background-color: white;
  height: 600px;
  width: 400px;
  position: relative;
  bottom: 3rem;
  margin-left: 28rem;
  border-radius: 20px;
  display: inline-block;
  overflow-x: scroll;
}

#btn {
  color: white;
  background-color: #a8df8e;
  border: none;
  height: 40px;
  width: 80px;
  position: relative;
  left: 36rem;
  bottom: 1.3rem;
  border-radius: 20px;
  z-index: 1001;
}

.newTask {
  background-color: #6da9e4;
  height: 50px;
  width: 300px;
  border-radius: 20px;
  margin-top: 0px;
  margin-bottom: 2px;
  padding: 8px;
  box-sizing: border-box;
}

.delbtn {
  background-color: #ff9b9b;
  height: 50px;
  width: 80px;
  margin-left: 10px;
  border-radius: 50px;
  position: relative;
  bottom: 25px;
}

.eleDel {
  display: none;
}
